* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
}

.title_big {
    font-size: 60px;
}

.title_white {
    color: #FFFFFF;
}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #222222;
}

.subtitle_big {
    font-size: 22px;
}

.subtitle_small {
    font-size: 14px;
}

.subtitle_white {
    color: #FFFFFF;
}

.subtitle_blue {
    color: #1CA8C3;
}

.subtitle_red {
    color: #FF5656;
}

.descr {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #222222;
}

.descr_size11 {
    font-size: 11px;
    color: #999999;
}

.descr_white {
    color: #FFFFFF;
}

.btn {
    border: none;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}


.btn_small {
    width: 172px;
    height: 46px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.rec_title {
    margin: 0 auto;
    width: 115px;
    height: 27px;
    background: #000000;
    padding-top: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #070716;
}

header {
    position: relative;
}

nav {
    background: #212121;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px 70px;
    list-style-type: none;
}

.menu__item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 87px;
    background-color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: normal;
    margin-top: 50px;
}

.subheader__wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 19px;
}

.subheader__partner {
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.5;
}

.subheader__call {
    width: 375px;
    display: flex;
    justify-content: space-around;
}


.promo {
    min-height: 800px;
    background: url(../img/bg/promo_bg.png) center center/cover no-repeat;
    padding-top: 180px;
    /* margin-top: -87px; */
}

.title_promo {
    margin-top: 5px;
}

.subtitle_promo {
    text-align: center;
    margin: 20px 80px 0 80px;
}

.btn_promo {
    display: block;
    margin: 0 auto;
    margin-top: 115px;
}

.reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 65px;
}

.rec_title_reasons {
    margin-top: 18px;
    margin-bottom: 32px;
    color: #FFFFFF;
}

.reasons__item {
    width: 532px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.reasons__round {
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reasons__text {
    width: 371px;
}

.title_reasons {
    margin-bottom: 15px;
}

.reasons__subtitle {
    margin-bottom: 5px;
}