* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 800px;
    background: url(../img/main_bg.png) center center/cover no-repeat;
    /* Почитать про background можно в уроке 18 модуль 1
    суть в том, что мы в определенном порядке задаем свойства image, position, size и тд*/
    padding: 39px 0 62px 0;
}

.promo .logo_img {
    display: block;
    margin: 0 auto;
}

.promo .logo_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 14px;
}

.title {
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    text-transform: uppercase;
    color: #F9BF3B;
    text-align: center;
}

.simple .title_big {
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 21px;
}

h1 {
    margin-top: 43px;
}

h2.title {
    margin-top: 20px;
}

.promo .promo_text {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_text span {
    color: #F9BF3B;
    font-weight: 700;
}

.promo .promo_btn,
.gift .gift_btn {
    display: block;
    margin: 60px auto;
    width: 313px;
    height: 72px;
    border: 4px solid rgba(0, 0, 0, 0.18);
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.promo .ending_text {
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .ending_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.waiting .waiting_divider {
    width: 220px;
    height: 7px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subtitle,
.webinar .webinar_subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 17px;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;

}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;

}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_title {
    margin-left: 391px;
    font-style: normal;
    font-weight: 900;
    font-size: 29px;
    text-transform: uppercase;
    color: #299CBD;
}

.optimization .optimization_text {
    margin-top: 25px;
    font-style: normal;
    margin-left: 391px;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    background: url(../img/second_bg.png) center center/cover no-repeat;
    padding: 86px 0 79px 0;
}

.finish .finish_title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #EFEFEF;
}

.finish .finish_divider {
    width: 220px;
    height: 7px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 100%;
    background: #B4E2FF;
}

.finish .finish_wrapper .finish_item .finish_descr {
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    color: #EFEFEF;
    text-align: center;
    margin-top: 25px;
}

.gift {
    min-height: 630px;
    background-color: #efefef;
    padding: 88px 0;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
}

.gift .gift_text {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
    margin-top: 45px;
}

.webinar {
    min-height: 512px;
    padding: 89px 0 50px 0;
}

.webinar .webinar_img {
    display: block;
    margin: 0 auto;
}

.webinar .webinar_title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
    margin-top: 36px;
}

.webinar .webinar_date {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
    margin-top: 30px;
}

.contact {
    padding: 55px 0 69px 0;
    min-height: 170px;
    background-color: black;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #888888;
}

.contact .contact_links a {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: #888888;
}

.contact .contact_links .sep {
    display: inline;
}