*
    box-sizing: border-box
    margin: 0
    padding: 0

a
    text-decoration: none

.container
    width: 1260px
    margin: 0 auto

.title
    color: #FFF
    font-family: Chronicle Display
    font-size: 64px
    font-style: normal
    font-weight: 600
    line-height: normal

.subtitle
    display: flex
    align-items: center
    &__text
        color: #FBD784
        font-size: 18px
        font-style: normal
        font-weight: 800
        line-height: normal
        letter-spacing: 6px
        text-transform: uppercase
    &__line
        background-color: #FBD784
        width: 72px
        height: 2px
        margin-right: 24px

.descr
    color: #FFF
    font-size: 18px
    font-style: normal
    font-weight: 700
    line-height: 32px
    margin-top: 25px
    margin-bottom: 25px

.details
    display: flex
    align-items: center
    &__link
        color: #FBD784
        margin-right: 16px
        font-size: 18px
        font-style: normal
        font-weight: 700
        line-height: normal
    &_white
        color: #FFFFFF

.body
    background-image: url('../img/bg.jpg')
    background-repeat: no-repeat
    background-size: contain
    background-color: #0B1D26
    font-family: 'Gilroy'
    padding-bottom: 120px

.header
    padding: 64px 80px 0 80px
    &__title
        font-size: 88px
        width: 950px
        margin-bottom: 18px
    &__menu
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 130px
    &__content
        margin-left: 300px
        margin-bottom: 723px

.menu
    &__link
        color: #FFFFFF
        transition: 0.3s
        &:hover
            color: #FBD784
    &__account
        display: flex
        justify-content: space-between
        align-items: center

.logo
    font-family: Chronicle Display
    font-size: 32px
    &__link
        color: #FFFFFF

.nav
    width: 285px
    &__list
        display: flex
        justify-content: space-between
    &__list-item
        list-style-type: none

.content
    position: relative
    display: flex
    justify-content: space-between
    padding-top: 50px
    margin-bottom: 200px
    &__text
        margin-left: 150px
        margin-top: 140px
        width: 460px
    &__number
        position: absolute
        top: 88px
        color: #FFF
        font-size: 240px
        font-style: normal
        font-weight: 700
        line-height: 240px
        opacity: 0.1
        &_right
            right: 335px
    &__extrainfo
        display: none

.footer
    display: flex
    justify-content: space-between
    &__descr
        width: 303px
    &__links
        display: flex
        justify-content: space-between
    &__link
        color: #FFF
        transition: 1s
        &:hover
            color: #FBD784
    &__links-block
        margin-left: 200px
    &__links-title
        color: #FBD784
        font-size: 24px
        font-style: normal
        font-weight: 700
        line-height: 32px
        margin-bottom: 20px
    &__list-item
        list-style-type: none
        margin-bottom: 7px
        font-size: 18px
        font-style: normal
        font-weight: 500
        line-height: 32px

.overlay
    position: fixed
    width: 100%
    height: 100%
    background-color: rgba(255, 255, 255, 0.5)
    top: 0

.close
    color: #0B1D26
    font-size: 40px
    line-height: 20px
    cursor: pointer
    position: absolute
    right: -30px
    top: 0px

.modal
    padding: 25px
    width: 500px
    background-color: #0B1D26
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    &__title
        text-align: center

.form-registration
    width: 500px
    padding: 25px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: space-between
    background-color: #0B1D26
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    &__title
        text-align: center
        margin-bottom: 30px
    &__input
        font-family: Chronicle Display
        font-weight: 400
        color: #0B1D26
        margin: 0 auto
        margin-bottom: 15px
        padding: 10px
        width: 350px
        height: 50px
        border-radius: 10px
    &__btn
        background-color: #FBD784
        color: #0B1D26
        font-size: 12px
        margin: 0 auto
        margin-top: 15px
        padding: 10px
        width: 200px
        height: 40px
        border-radius: 10px
        cursor: pointer
        transition: 0.4s
        &:hover
            background-color: #fff

.hide
    display: none

.show
    display: block
