*
    box-sizing: border-box
    margin: 0
    padding: 0

a
    text-decoration: none

.body
    background-image: url('../img/bg.jpg')
    background-color: #0B1D26
    font-family: 'Gilroy'

.subtitle
    &__line
        background-color: #FBD784
        width: 72px
        height: 2px

.header
    padding: 64px 80px 0 80px
    &__menu
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 200px

.menu
    &__logo
        font-size: 32px
    &__link
        color: #FFFFFF
        &:hover
            text-decoration: underline
    &__account
        display: flex
        justify-content: space-between
        align-items: center

.nav
    width: 285px
    &__list
        display: flex
        justify-content: space-between
    &__list-item
        list-style-type: none
